*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(247, 245, 245);
}

.App {
  color: #222;
  width: 100%;
  height: 100vh;
  padding: 0 1.5rem;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background-color: transparent;
  color: #333;
  padding: 1.5rem 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 0 3px rgba(0, 0, 0, 0.12);
}

.header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  list-style-type: none;
}

.nav-link {
  color: rgb(10, 0, 104);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.nav-link:is(:hover, :focus) {
  color: rgb(3, 0, 29);
}

/* new post page */
.form-container {
  background-color: #fff0eb;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 4px;
}

.form-title {
  margin-bottom: 2rem;
  text-align: center;
  color: rgb(3, 0, 29);
}

.form {
  width: 100%;
  padding: 0 1.5rem;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.3rem;
}

.form-control > *:not(label) {
  border-radius: 3px;
  box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.1);
}

.form-control > *:focus {
  outline: 1px solid #5e54c7;
}

.form-control label {
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
}

.form-control input {
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
}

div.DraftEditor-root {
  background-color: #fffef7;
  width:100%;
  margin:auto;
  height:300px;
  overflow-y: auto;
  padding:20px;
  font-size:1.5rem;
  font-family: 'calibri', sans-serif;
  border-radius: 3px;
}

button {
  background-color: #5447e7;
  color: #000;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  width: 150px;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:is(:hover, :focus) {
  background-color: #4a3ecc;
}
/* new post page */
