*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --card-accent-color: #FFAFCC;
  --dark-accent-color: rgb(10, 0, 104);
  --main-bg-light: rgb(247, 245, 245);
}

body {
  background-color: var(--main-bg-light);
}

.App {
  color: #222;
  width: 100%;
  height: 100vh;
  padding: 0 1.5rem;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 2rem;
}

.header {
  width: 100%;
  background-color: transparent;
  color: #333;
  padding: 1.5rem 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 2px 0 3px rgba(0, 0, 0, 0.12);
}

.header nav {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.header nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
  list-style-type: none;
}

.nav-link {
  color: var(--dark-accent-color);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.nav-link:is(:hover, :focus) {
  color: rgb(3, 0, 29);
}

/* new post page */
.form-container {
  background-color: #fff0eb;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 4px;
}

.form-title {
  margin-bottom: 2rem;
  text-align: center;
  color: rgb(3, 0, 29);
}

.form {
  width: 100%;
  padding: 0 1.5rem;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.3rem;
}

.form-control > *:not(label) {
  border-radius: 3px;
  box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.1);
}

.form-control > *:focus {
  outline: 1px solid #695ee0;
}

.form-control label {
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
}

.form-control input {
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
}

div.DraftEditor-root {
  background-color: #fffef7;
  width: 100%;
  margin: auto;
  height: 300px;
  overflow-y: auto;
  padding: 20px;
  font-size: 1.2rem;
  font-family: 'calibri', sans-serif;
  border-radius: 3px;
}

.newPostBtn {
  background-color: #5447e7;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  width: 150px;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.newPostBtn:is(:hover, :focus) {
  background-color: #4a3ecc;
}
/* new post page */

/* POST CARD */
.card-container {
  width: 100%;
  max-width: 600px;
  background-color: #eee;
  border-radius: 3px;
  padding: 1rem;
  margin: 1rem auto;
}

.card-container:nth-child(even) {
  border-right: 2px solid var(--card-accent-color);
}

.card-container:nth-child(odd) {
  border-left: 2px solid var(--card-accent-color);
}

.post-header, .post-details {
  display: flex;
  justify-content: space-between;
}

.post-header {
  margin-bottom: 0.7rem;
}

.read-more-btn {
  border: none;
  border-radius: 3px;
  padding: 0.3rem 0.5rem;
  font-size: 0.8rem;
  color: var(--dark-accent-color);
  outline: 2px solid var(--card-accent-color);
  cursor: pointer;
}

.read-more-btn:is(:hover, :focus) {
  outline-color: var(--dark-accent-color);
}

.post-title {
  font-size: 1.3rem;
}

.post-description {
  margin-bottom: 1rem;
}

.post-author,
.post-date {
  font-size: 0.8rem;
  color: #555;
}
/* POST CARD */

/* EDITOR TOOLBAR */
.toolbar-container {
  background-color: rgb(221, 205, 205);
  width: 100%;
  padding: 0.3rem 0.5rem;
  display: flex;
  justify-content: space-between;
}

.inline-styles-container {
  display: flex;
  gap: 1rem;
  padding: 0.2rem 0.5rem;
}

.toolbar-item {
  cursor: pointer;
  padding: 0 0.2rem;
  outline: 2px solid var(--main-bg-light);
  width: 1.8rem;
  height: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolbar-item.active {
  outline-color: #333;
}
/* EDITOR TOOLBAR */