*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  background-color: rgb(247, 245, 245);
  color: #222;
  width: 100%;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}