*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(247, 245, 245);
}

.App {
  color: #222;
  width: 100%;
  height: 100vh;
  padding: 0 1.5rem;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background-color: transparent;
  color: #333;
  padding: 1.5rem 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 0 3px rgba(0, 0, 0, 0.12);
}

.header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  list-style-type: none;
}

.nav-link {
  color: rgb(10, 0, 104);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.nav-link:is(:hover, :focus) {
  color: red;
  color: rgb(3, 0, 29);
}